<phpunit bootstrap="vendor/autoload.php" colors="true" verbose="true">
    <testsuites>
        <testsuite name="php-waf">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="REMOTE_ADDR" value="127.0.0.1" />
        <get name="xss" value="&lt;script&gt;javascript:alert(1)&lt;/script\x0D" />
        <get name="sql" value="TRUE DIV(SELECT ORD(LEFT" />
        <post name="crlf" value="%0D%0ASet-Cookie:mycookie=myvalue" />
    </php>
</phpunit>
