php_value auto_prepend_file "waf.php"

<IfModule mod_headers.c>
  Header set X-XSS-Protection "1; mode=block"
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule .* index.php [L,NC,QSA]
</IfModule>
